<h1>Pages#score</h1>
<p>Find me in app/views/pages/score.html.erb</p>

******** Now your result ********

Your word: <%= @attempt %>
Time Taken to answer: <%= @result[:time] %>
Translation: <%= @result[:translation] %>
Your score: <%= @result[:score] %>
Message: <%= @result[:message] %>

*****************************************************
